body {
  background-image: url(../img/050e932513617f38b712a4b4771a8703.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 300px;
  color: black;
}

.post {
  width: 600px;
  height: 350px;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  overflow: auto;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(102, 88, 141);
  color: white;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.4);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

#search-input {
  width: 100px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 50px;
  border: 2px solid white;
}
