@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  color: var(--color-dark);
  overflow-x: hidden;
}

:root {
  --color-dark: #212121;
  --color-darkgrey: #707070;
  --color-btn-blue: #00798a;
  --color-light-blue-bg: #97cad114;
  --transition-duration: 0.2s;
  --color-white: white;
  --border-radius: 5px;
}

.container {
  width: 1181px;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  background-color: var(--color-btn-blue);
  color: var(--color-white);
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: var(--border-radius);
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
}

.button:hover {
  background-color: #16a5b8;
}

a,
button,
svg,
img,
input * {
  transition-duration: var(--transition-duration);
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
  column-gap: 20px;
}

.header-logo {
  width: 118px;
  height: auto;
  margin-right: 30px;
}

.head-input input {
  margin: 0;
  display: inline-flex;
  align-items: center;
}

.header-logo-small {
  width: 100px;
  display: none;
}

.btn-header {
  margin-right: 15px;
}

.header-logo:hover {
  transform: scale(1.1);
}

.leftside-head {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links-right {
  display: flex;
  column-gap: 20px;
}

.leftside-head input {
  width: 300px;
}

.rightside-head {
  display: flex;
  column-gap: 20px;
}

.rightside-head a {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--color-dark);
}

a:hover {
  color: var(--color-darkgrey);
  text-decoration: underline;
}

#search_input-left {
  width: 300px;
  padding-left: 40px;
}

.search__input__left {
  border: 1px solid #ccc;
  padding: 5px 10px;
  height: 42px;
  border-radius: 8px 0px 0px 8px;
  border: 1px 0px 0px 0px;
  color: #333;
}

.search__input__left::-moz-placeholder {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23202020" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>');
  background-repeat: no-repeat;
  background-position: left;
  background-position: 5px center;
  padding-left: 30px;
}

.search__input__left::placeholder {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23202020" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>');
  background-repeat: no-repeat;
  background-position: left;
  background-position: 5px center;
  padding-left: 30px;
}

.search__input__right {
  border: 1px solid #ccc;
  padding: 5px 10px;
  height: 42px;
  border: 1px 0px 0px 0px;
}

.search__input__right::-moz-placeholder {
  color: #0f0f0f;
}

.search__input__right::placeholder {
  color: #0f0f0f;
}

.search__svg {
  cursor: pointer;
}

.search__svg:hover {
  opacity: 80%;
}

.sticky-button {
  display: none;
  width: 100%;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px;
  position: sticky;
  bottom: 0;
  background-color: white;
}

.sticky {
  background-color: var(--color-btn-blue);
  color: var(--color-white);
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: var(--border-radius);
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
}

/* Header Box */
.header-box {
  width: 100%;
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-box h2 {
  font-size: 42px;
  font-weight: bold;
  text-align: left;
  padding-bottom: 24px;
}

.header-box-btn {
  margin-top: 24px;
  margin-bottom: 98px;
}

/* Events Header */
.events-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 64px;
}

.events-header-leftside {
  display: flex;
  column-gap: 16px;
  width: 239px;
  border: none;
  color: #00798a;
}
.events-header-leftside h3 {
  font-weight: bolder;
}

.events-header-rightside {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* Events Box */
.events-box-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 36px;
}

.events-info {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  align-items: start;
}

.grid-img {
  margin-top: 15px;
  width: 100%;
  height: 153px;
  border-radius: var(--border-radius);
  object-fit: cover;
}

.grid-img:hover {
  opacity: 70%;
  cursor: pointer;
}

.events-info ul {
  padding: 0;
  text-align: left;
}

.events-info li {
  padding-top: 0px;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.events-info li:nth-child(2) {
  color: var(--color-darkgrey);
}

.events-box-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  position: relative;
}

.hidden-hobbies {
  display: none;
}

.info-items {
  padding: 0;
  display: flex;
  flex-direction: column;
  line-height: 13px;
  white-space: initial;
}

.info-items li {
  font-size: 16px;
  line-height: 34px;
}

.info-items .hobbies {
  font-size: 14px;
  line-height: 20px;
}

.online-camera-small {
  width: 9px;
  height: 7px;
  display: flex;
  align-items: center;
  display: none;
  width: 104px;
  font-size: 9px;
  color: var(--color-darkgrey);
}

.attendes {
  font-size: 10px;
  color: var(--color-darkgrey);
  margin-top: 24px;
  display: none;
}

.hobbies {
  font-size: 14px;
  color: var(--color-darkgrey);
  display: block;
}

.online {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  gap: 4px;
  color: var(--color-darkgrey);
  background-color: white;
  border-radius: 4px;
  width: 105px;
  height: 20px;
  position: absolute;
  top: 23px;
  left: 14px;
  z-index: 2;
}

/* Upcomming */
.upcomming-header-box {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  margin-top: 40px;
}
.upcomming-header-leftside {
  display: inline-block;
}

.btn_see_all {
  color: var(--color-btn-blue);
  border: none;
  font-weight: bold;
  background-color: white;
  padding-left: 1050px;
}

.btn_see_all:hover {
  text-decoration: underline;
  cursor: pointer;
}
.btn__upcomming {
  width: 239px;
  background: #97cad11f;
  border: none;
  color: #00798a;
  margin-left: 8px;
  padding-left: 12px;
  font-size: 20px;
  font-weight: bolder;
  display: flex;
  align-items: center;
}

.btn__upcomming img {
  margin-left: 8px;
}

.btn__upcomming:hover {
  color: #16a5b8;
  cursor: pointer;
}

.upcomming-box-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 36px;
}

.upcomming-info {
  padding-top: 12px;
  align-items: start;
}

.upcomming-img {
  margin-top: 24px;
  width: 100%;
  height: 153px;
}

.upcomming-img:hover {
  opacity: 70%;
  cursor: pointer;
}

.upcomming-info li {
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  row-gap: 6px;
}

li h4:hover {
  text-decoration: underline;
  cursor: pointer;
}

.upcomming-info li:nth-child(2) {
  color: var(--color-darkgrey);
}

.upcomming-box-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  position: relative;
}

/* Join Meetup */
.join-meetup-box {
  background-color: var(--color-light-blue-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
}

.join-meetup-leftside {
  padding-left: 56px;
  padding-top: 36px;
  width: 60%;
}

.join-meetup-leftside h3 {
  font-size: 28px;
  font-weight: bolder;
  padding-bottom: 16px;
}

.join-meetup-leftside p {
  padding-right: 74px;
  padding-bottom: 16px;
}

.join-meetup-leftside button {
  background-color: #e32359;
  width: 192px;
  height: 40px;
  margin-bottom: 36px;
}

.join-meetup-leftside button:hover {
  background-color: #e74674;
}

.small-title {
  font-size: 20px;
  padding-top: 16px;
  padding-left: 15px;
  display: none;
}

/* Categories */
.categories-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 24px;
  column-gap: 16px;
  row-gap: 16px;
  font-weight: 500;
}

.categories {
  margin-top: 64px;
}

.categories-box-item {
  background-color: var(--color-light-blue-bg);
  border-radius: var(--border-radius);
  height: 112px;
  width: 130px;
  padding: 20px;
}

.categories-box-item:hover {
  cursor: pointer;
  background-color: rgb(240, 249, 246);
}

/* Popular */
.popular {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 64px;
}

.popular-box {
  display: flex;
  justify-content: center;
  gap: 30px;
  white-space: nowrap;
}

.popular-box p {
  text-align: center;
  font-weight: 600;
  padding-top: 24px;
}

.popular-box-item img {
  width: 100%;
}

.popular-title p {
  margin-top: 16px;
  margin-bottom: 28px;
}

.popular-box-item img:hover {
  filter: grayscale(100%);
  scale: 1.1;
  cursor: pointer;
}

/* How Meetup */
.how-meetup-box {
  display: flex;
  row-gap: 32px;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  gap: 24px;
}

.how-meetup-box img {
  margin-right: 24px;
}

.how-meetup-title {
  margin-top: 64px;
}

.how-meetup-leftside {
  border-radius: var(--border-radius);
  background-color: var(--color-light-blue-bg);
  width: 100%;
  height: 180px;
  display: flex;
  align-items: flex-start;
  padding: 24px 32px;
}

.how-meetup-leftside:hover {
  cursor: pointer;
  background-color: rgb(229, 248, 245);
}

.how-meetup-rightside:hover {
  cursor: pointer;
  background-color: rgb(229, 248, 245);
}

.how-info-left h4 {
  padding-bottom: 16px;
}

.how-info-left p {
  width: 100%;
  padding-bottom: 16px;
  line-height: 1.5;
}

.how-info-left a {
  color: var(--color-btn-blue);
  font-weight: 500;
}

.how-meetup-rightside {
  border-radius: var(--border-radius);
  background-color: var(--color-light-blue-bg);
  width: 100%;
  height: 180px;
  display: flex;
  align-items: flex-start;
  padding: 24px 32px;
}

.how-info-right p {
  width: 85%;
  padding-bottom: 16px;
  line-height: 1.5;
}

.how-info-right a {
  color: var(--color-btn-blue);
  font-weight: 500;
}

/* Friendship */
.friendships {
  margin-top: 64px;
}

.friendship-box {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 24px;
}

.friendship-title h3 {
  margin-bottom: 16px;
}

.friendship-title p {
  width: 75%;
  margin-bottom: 28px;
}

.friendship-item-info h4 {
  line-height: 23px;
  padding-top: 24px;
  padding-bottom: 12px;
}

.friendship-item-info h4:hover {
  cursor: pointer;
  text-decoration: underline;
}

.friendship-item-info p {
  line-height: 23px;
  padding-bottom: 16px;
  color: var(--color-darkgrey);
}

.friendship-item-info a {
  color: var(--color-btn-blue);
}

.friendship-box-item {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.friendship-box img {
  width: 100%;
  height: 191px;
}

.friendship-box img:hover {
  opacity: 70%;
}

/* Footer */
.footer {
  width: 100vw;
  background-color: var(--color-dark);
  margin-top: 64px;
}

.footer-container {
  width: 1181px;
  padding: 0 15px;
  margin: 0 auto;
  color: #c5c4c4;
  display: flex;
  flex-direction: column;
}

.footer-header {
  font-weight: 500;
  display: flex;
  height: 93px;
  color: #f6f7f8;
  padding-top: 24px;
  column-gap: 36px;
  align-items: center;
  border-bottom: 1px solid rgba(197, 196, 196, 0.3);
}

.footer-btn {
  font-weight: 500;
  background-color: var(--color-dark);
  color: var(--color-white);
  font-size: 16px;
  padding: 10px 20px;
  border: 2px solid #f6f7f8;
  border-radius: var(--border-radius);
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  margin-bottom: 35px;
}

.footer-btn:hover {
  background-color: #5f5f61;
  border: 2px solid #8b8b8b;
}

.footer-header p {
  padding-bottom: 35px;
}

.footer-body {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
}

.footer-ul-up {
  display: flex;
  flex-direction: column;
}

.footer-ul-up li {
  list-style-type: none;
  padding: 7px;
}

.footer-ul-up li:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #f6f7f8;
}

.footer-ul-up li:first-child {
  color: #f6f7f8;
  font-size: 16px;
}

.footer-ul-up {
  padding-left: 0px;
}

.footer-social {
  display: flex;
  flex-direction: column;
}

.footer-social-header {
  height: 24px;
  margin-bottom: 12px;
  margin-top: 24px;
}

.footer-social-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.social-left {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.social-right {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.footer-down .footer-ul {
  list-style-type: none;
}

.footer-ul {
  margin-bottom: 40px;
  display: flex;
  gap: 24px;
  padding-left: 0px;
}

.footer-down li {
  display: inline;
  padding-left: 0px;
}

.footer-down li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.social-left img:hover {
  scale: 1.3;
  cursor: pointer;
}

/* Events Page */
.container_events {
  display: flex;
  justify-content: space-between;
  gap: 167px;
  margin-top: 77px;
}

.main {
  display: flex;
  margin-top: 77px;
  width: 100%;
}

.all-events {
  margin-top: 34px;
  font-size: 14px;
}

.all-events-img {
  width: 160px;
  height: 100px;
  border-radius: var(--border-radius);
}

.all-events-img:hover {
  opacity: 70%;
}

.all-events-link {
  display: flex;
  padding-top: 16px;
  padding-bottom: 20px;
  border-top: 1px solid rgba(197, 196, 196, 0.3);
}

.all-events-info {
  position: relative;
  margin-left: 12px;
  line-height: 24px;
}

.all-events-header {
  font-size: 16px;
}

.all-events-date {
  color: #7c6f50;
  text-transform: uppercase;
  font-weight: 500;
}

.all-events-category {
  color: var(--color-darkgrey);
  font-weight: 600;
}

.all-events-atendees {
  color: var(--color-darkgrey);
  font-weight: 400;
  line-height: 12px;
  font-size: 14px;
}

.all-events-online {
  display: flex;
  align-items: center;
  color: var(--color-darkgrey);
  gap: 4px;
  margin-bottom: 26px;
}

.maps h2 {
  margin-top: 7px;
  margin-bottom: 14px;
}

.maps p {
  font-weight: 600;
}

.map-btn {
  width: 172px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-map {
  position: absolute;
  right: 15px;
  top: 25px;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.map-container {
  display: flex;
  justify-content: end;
  text-align: left;
}

.maps {
  display: flex;
  flex-direction: column;
}

.map-img {
  width: 100%;
  max-width: 100%;
  position: relative;
}

.map-btn {
  width: 172px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-map {
  background-color: white;
  position: absolute;
  top: 11px;
  right: 15px;
}

#any-type,
#any-distance,
#any-category {
  background-color: #f6f7f8;
  background-image: url("./arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 14px;
  width: 120px;
  height: 46px;
  border-radius: 40px;
  border: none;
  padding: 15px;
  font-weight: 600;
  font-size: 13px;
  appearance: none;
}

#any-type:hover {
  background-color: #f3f3f5;
}

#any-distance:hover {
  background-color: #f3f3f5;
}

#any-category:hover {
  background-color: #f3f3f5;
}

#any-distance {
  width: 145px;
}

#any-category {
  width: 147px;
}

.events-small-title {
  color: var(--color-btn-blue);
  font-weight: bolder;
  border-bottom: 3px solid var(--color-btn-blue);
}

.select-box {
  display: flex;
  margin-top: 12px;
  gap: 17px;
  max-width: calc(100vw - 30px);
  border: none;
  overflow: scroll;
  padding: 0.5px 0 10px 1px;
}

select:focus {
  outline: none;
}

.select-box::-webkit-scrollbar {
  width: 0.5px;
  height: 12px;
}

.select-box::-webkit-scrollbar-thumb {
  background-color: var(--color-darkgrey);
  border-radius: 5px;
}

.events-title {
  margin-bottom: 12px;
}

.all-events-info h3 {
  font-weight: none;
}

.all-events-online {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  gap: 4px;
  color: var(--color-darkgrey);
  background-color: white;
  border-radius: 4px;
  width: 105px;
  height: 20px;
  position: absolute;
  top: 4px;
  left: -166px;
  z-index: 2;
}

.all-events-online-small {
  display: flex;
  align-items: center;
  color: var(--color-darkgrey);
  gap: 4px;
  margin-bottom: 26px;
  display: none;
}

/* Responsive Styles */
@media (max-width: 1400px) {
  .container {
    max-width: 95%;
  }

  .all-events-online-small {
    display: none;
  }

  .all-events-online {
    display: flex;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 95%;
  }

  .header {
    justify-content: none;
  }

  .leftside-head {
    width: 70%;
  }

  .events-box-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .upcomming-box-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-container {
    max-width: 90%;
  }

  .footer-ul-up {
    padding-left: 0px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 95%;
  }

  .header {
    white-space: unset;
  }

  .leftside-head input {
    width: 60%;
  }

  .links-right {
    column-gap: 10px;
    font-size: 14px;
  }

  .maps {
    display: none;
  }

  .all-events {
    width: 100%;
  }

  .all-events-atendees {
    padding-top: 15px;
  }

  .sticky-button {
    display: flex;
    width: 100%;
  }

  .categories-box {
    flex-wrap: wrap;
  }

  .popular-box {
    flex-wrap: wrap;
  }

  .popular-box-item {
    width: 153px;
  }

  .header-box {
    width: 100%;
    flex-direction: column;
    margin-top: 50px;
    row-gap: 24px;
    text-align: center;
  }

  .header-box h2 {
    text-align: center;
  }

  .header-box-btn {
    display: none;
  }

  .footer-container {
    max-width: 90%;
  }

  .footer-ul-up {
    padding-left: 0px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 95%;
  }

  .header {
    flex-wrap: wrap;
    row-gap: 30px;
  }

  .rightside-head {
    width: 100vw;
    justify-content: space-between;
  }

  #input-left {
    margin-left: 16px;
    width: 90%;
  }

  .leftside-head {
    order: 1;
    flex-basis: 100%;
  }

  .header-logo-small {
    display: block;
  }

  .header-logo {
    display: none;
  }

  .search__input__right {
    display: none;
  }

  #input-left {
    margin-left: 0;
  }
}
